<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Frozen Tomatoes</title>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->

</head>

<body>
    <form id="sign_up", method="post">
        Username: 
        <br><input id="username" type="text" name="username" required>
        <p>Password: 
        <br><input id="password" type="text" name="password" required>
        <p><input type="submit" value="Sign Up">
    </form>
</body>
</html>
